<div class="login-container">
    <form>
        <label for="email">Email</label><br>
        <input #emailControl="ngModel" hinvEmailvalidator id="email" hinvHover="green" color="steelBlue" type="email" name="email" placeholder="Email" [(ngModel)]="email" required autocomplete="email"><br>
        <div>
            {{emailControl.errors | json}}
        </div>
        <label for="password">Password</label><br>
        <input  hinvHover="green" color="steelBlue" id="password" type="password" name="password" [(ngModel)]="password" placeholder="Password" required autocomplete="current-password"><br>
        <button type="submit" (click)="Login()">Login</button>
    </form>
</div>